.search-chat {
    margin: 1rem;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.my-input:focus {
    outline: none !important;
}

.my-input-send {
    margin-left: 6px;
    height: 36px;
    border: none;
    background: #18191a !important;
    font-size: 18px;
    color: white;
}

.my-input-send:focus {
    outline: none !important;
}

.search-chat>i {
    margin-top: 1px;
    margin-left: 15px;
    color: rgb(103, 103, 103);
}

.input-field {
    min-height: 68px !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #3a3a3a;
}

.send-message {
    padding-right: 15px;
    width: 100%;
}

.send-message>input {
    width: 100%;
}

.input-field>i {
    color: rgb(0, 132, 255);
    font-size: 25px;
    margin-right: 30px;
    cursor: pointer;
}

.input-field>i:hover {
    color: rgb(0, 0, 168);
}

.my-input {
    width: 90%;
}

@media only screen and (max-width: 700px) {
    .sidenav {
        width: 115px;
    }
    .search-field>input {
        width: 50%;
    }
    .search-field {
        width: 97px;
        margin-left: 8px;
    }
    .content-wrapper {
        left: 115px;
        width: calc(100% - 115px);
    }
    .message>input {
        width: 80%;
    }
    .visible {
        display: none;
    }
}