.top-navbar {
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0px;
    z-index: 6;
    height: 3.2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-shadow: rgba(32, 33, 36, 0.28) 0px 1px 6px 0px;
}

.details {
    margin-left: 10px;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.home-wrapper,
.friends-wrapper {
    height: 45px;
    width: 93px;
    border-radius: 7px;
    cursor: pointer;
    display: flex;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
}

.fa-facebook-messenger {
    font-size: 38px;
    color: rgb(66, 66, 250);
}

.fa-home {
    font-size: 25px;
    color: grey;
}

.fa-user-friends {
    font-size: 25px;
    color: grey;
}

.home-wrapper:hover {
    background-color: rgb(234, 233, 233);
}

.friends-wrapper:hover {
    background-color: rgb(233, 231, 231);
}

.home-wrapper:active {
    background-color: rgb(203, 203, 203) !important;
}

.friends-wrapper:active {
    background-color: rgb(202, 202, 202) !important;
}

.active {
    color: rgb(56, 56, 255) !important;
    border-bottom: solid 5px rgb(56, 56, 255);
}

.active>i {
    border: none;
}

.fa-bell {
    font-size: 20px;
}

.fa-sort-down {
    margin-bottom: 10px;
    font-size: 30px;
}

.bell-wrapper {
    height: 45px;
    width: 45px;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 231, 231);
}

.profile-wrapper {
    background-color: rgb(233, 231, 231);
    height: 45px;
    width: 45px;
    position: relative;
    z-index: 1;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    margin-left: 8px;
    justify-content: center;
    align-items: center;
}

.profile-wrapper:hover {
    background-color: rgb(198, 198, 198) !important;
}

.bell-wrapper:hover {
    background-color: rgb(198, 198, 198) !important;
}

.profile-wrapper:active {
    padding-top: 2px;
    background-color: rgb(202, 202, 202) !important;
}

.bell-wrapper:active {
    padding-top: 2px;
    background-color: rgb(202, 202, 202) !important;
}

.dropdown {
    position: relative;
}

.item-margin {
    margin: 3px !important;
}

.profile-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    overflow: hidden;
    right: 10px;
    width: 300px;
    min-height: 150px;
    padding-bottom: 9px;
    border: 1px solid rgb(227, 227, 227);
    max-height: 190px;
    transition-property: height;
    transition-duration: .3s;
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
    top: 3rem;
}

.notification-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    overflow: hidden;
    right: 10px;
    width: 300px;
    min-height: 150px;
    padding-bottom: 9px;
    border: 1px solid rgb(227, 227, 227);
    max-height: 230px;
    transition-property: height;
    transition-duration: .3s;
    border-radius: 9px;
    background-color: rgb(255, 255, 255);
    top: 3rem;
}

.inner-wrapper {
    overflow-y: scroll;
}

.div-profile {
    width: 100% !important;
}

.divider {
    width: 90%;
    margin-bottom: 5px;
    margin-top: 2px;
    border-bottom: 1px solid rgba(190, 190, 190, 0.89);
}

.lower {
    margin-top: 30px !important;
}

.profile-item {
    width: 270px;
    margin: 15px;
    min-height: 80px;
    max-height: 120px;
    padding: 7px;
    font-size: 20px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.log-out {
    width: 270px;
    margin: 10px;
    height: 50px;
    padding: 7px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.log-out>i {
    font-size: 20px;
    margin-right: 10px;
}

.log-out:hover {
    background-color: rgba(210, 210, 210, 0.51);
}

.profile-item:hover {
    background-color: rgba(212, 212, 212, 0.51);
    cursor: pointer;
}

.user-avatar {
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 8px;
}

.hidden {
    display: none !important;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5 !important;
}

.active-option {
    color: blue;
    background-color: rgb(186, 186, 186);
}

body {
    background: whitesmoke;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 960px;
    margin: 10px auto;
}

h1 small {
    display: block;
    font-size: 15px;
    color: gray;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 31px;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 30px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f304";
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    color: #757575;
    position: absolute;
    top: 7px;
    left: 2px;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 150px;
    height: 150px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #f8f8f8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ts-up {
    display: flex;
    justify-content: center;
}

.ts-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

.slide1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: transform;
    transition-duration: .2s;
}

.slide2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-property: transform;
    transition-duration: .2s;
}

.notification {
    font-size: 10px;
    color: red;
    position: absolute;
    right: 10px;
    top: 11px;
}

.small-date {
    font-size: 13px;
    margin-top: -4px;
}

.fadeout {
    animation: fadein .800s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}