.side-top {
    border-bottom: 1px solid rgb(234, 234, 234);
}

.inner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 14px;
    background-color: rgb(230 230 230);
    cursor: pointer;
    padding: 6px;
}

.inner-content:hover {
    background-color: rgb(221, 221, 221);
}

.border {
    border-top: 2px solid red;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.container-fluid {
    height: 100%;
}

.hidden {
    display: none !important;
}

.content-wrapper {
    left: 285px;
    top: 50px;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    width: calc(100% - 285px);
    transition-property: width;
    transition-duration: .1s;
    margin-right: 5px;
    position: relative;
}

.shorter {
    width: calc(100% - 530px) !important;
}

.chat-area {
    height: calc(100% - 70px);
    overflow-y: scroll;
    scroll-behavior: smooth;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@media only screen and (max-width: 800px) {
    .content-wrapper {
        left: 112px;
        width: calc(100% - 112px);
    }
    .shorter {
        width: calc(100% - 267px) !important;
    }
}

.fadeout {
    animation: fadein .800s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loader {
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    align-self: center;
    position: absolute;
    top: calc(50% - 30px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}