<div *ngIf="data.shouldBeRendered">
    <!----------not mine------------>
    <div class="comment-wrapper not-my-comment " *ngIf="data.foreign">
        <div class="comment ">
            <div class="comment-user " *ngIf="data.isFirst">
                <small>{{data.name}}</small>
            </div>
            <div class="inner-wrapper ">
                <img [src]="data.url" *ngIf="data.isFirst" class="avatar ">
                <div class="blank-avatar" *ngIf="!data.isFirst"></div>
                <div class="comment-body comment-text ">
                    {{data.text}}
                </div>
            </div>
        </div>
    </div>

    <!------------mine------------->
    <div class="comment-wrapper my-comment " *ngIf="!data.foreign">
        <div class="comment ">
            <div class="inner-wrapper ">
                <div class="comment-body comment-text ">
                    {{data.text}}
                </div>
            </div>
        </div>
    </div>
</div>