<div class="user-wrapper">
    <h1 style="color:rgb(209, 209, 209)">Nothing interesting here</h1>
    <ng-container *ngFor="let user of all">
        <div class="user-item" *ngIf="!user.custom">
            <div class="avatar-info">
                <img [src]="user.avatar" class="user-avatar">
                <i class="fas fa-circle" *ngIf="user.alive"></i>
                <i class="fas fa-circle " style="color:grey" *ngIf="!user.alive"></i>
            </div>
            <div class="user-details">
                <h1 style="font-size:20px;">{{user.name}}</h1>
            </div>
        </div>
    </ng-container>
</div>