.fixed-width {
    width: 390px !important;
    border-radius: 57px !important;
}

.content {
    border-radius: 5px !important;
    border: 1px solid rgb(0, 0, 0);
    background-color: #2a2a2a;
    color: white;
}

.profile-item {
    width: 352px;
    min-height: 35px;
    max-height: 120px;
    padding: 9px;
    font-size: 20px;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3px;
    margin-right: 3px;
}

.details {
    margin-left: 10px;
}

.profile-item:hover {
    cursor: pointer;
    background-color: #343b3e;
}

.close>span {
    color: white;
}

.modal-header {
    border-bottom: 1px solid #383838;
}