<div class="chat-info">
  <img [src]="url" *ngIf="!open" class="user-avatar" />
  <form class="user-details">
    <input
      *ngIf="open"
      [(ngModel)]="name"
      name="name"
      class="custom"
      (keyup.enter)="submit()"
      type="text"
      placeholder="give a name.."
      autofocus
    />
    <h1 class="js-info" *ngIf="!open">{{ infoName }}</h1>
    <small *ngIf="!open">{{ info }}</small>
  </form>
  <div *ngIf="open" class="notification-dropdown">
    <ng-container *ngFor="let user of usersList; let i = index">
      <div
        *ngIf="!user.details.custom"
        class="profile-item"
        (click)="select(i)"
      >
        <img
          [src]="user.details.avatar"
          class="avatar"
          style="margin-top: 0px"
        />
        <div class="details">
          <div class="message">{{ user.details.name }}</div>
        </div>
        <i class="fas fa-check" *ngIf="user.tik"></i></div
    ></ng-container>
  </div>

  <div class="info">
    <i class="fas fa-user-circle rooms" (click)="rooms()"></i>
    <i
      [class.notVisible]="open"
      class="fas fa-info-circle"
      (click)="slider()"
    ></i>
  </div>
</div>
