.chat-info {
    min-height: 70px;
    max-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;
    position: relative;
    color: white;
    position: relative;
}

.chat-info:after {
    content: "";
    background: #383838;
    position: absolute;
    bottom: 0;
    left: 1.5%;
    height: 2px;
    width: 97%;
}

.user-avatar {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.user-details {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    align-items: flex-start;
}

.user-details>h1 {
    font-size: 25px;
    margin-bottom: -3px;
}

.rooms {
    display: none;
}

.notVisible {
    display: unset;
}

@media only screen and (max-width: 500px) {
    .rooms {
        display: unset;
    }
    .user-details>h1 {
        font-size: 4vw;
        overflow: hidden;
    }
    .custom {
        width: 240px !important;
        margin-right: 3px;
    }
    .notVisible {
        display: none;
    }
}

.notification-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 10;
    overflow-y: scroll;
    left: 15px;
    width: 320px;
    min-height: 118px;
    padding-bottom: 9px;
    padding-top: 9px;
    border: 1px solid rgb(0, 0, 0);
    max-height: 230px;
    border-radius: 9px;
    background-color: #2a2a2a;
    top: 4rem;
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.75);
}

.profile-item {
    width: 300px;
    min-height: 48px;
    max-height: 120px;
    padding: 7px;
    font-size: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 3px;
    margin-right: 3px;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    vertical-align: middle;
    margin-top: 8px;
}

.details {
    margin-left: 10px;
}

.profile-item:hover {
    cursor: pointer;
    background-color: #343b3e;
}

.tik {
    background-color: #343b3e !important;
}

.fa-check {
    margin-left: auto;
}

.custom {
    outline: none;
    border: none;
    color: white;
    width: 320px;
    font-size: 20px;
    background: #18191a !important;
}

.info {
    right: 10px;
    font-size: 30px;
    color: rgb(56, 56, 255);
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    align-items: center;
    padding-top: 1px;
    gap: 15px;
    overflow-x: scroll;
}

.info>i {
    cursor: pointer;
}

.info>i:focus {
    border: 3px solid red !important;
}

.hidden {
    display: none;
}