.last-msg {
    display: flex;
    margin-left: 8px;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.hidden {
    display: none;
}

.ass {
    display: none !important;
}

.status {
    color: rgb(162, 162, 162);
    font-size: 10px;
    position: absolute;
    right: 8px;
}

.active {
    background-color: #151c20 !important;
}

.alive {
    color: rgb(0, 21, 255) !important;
}

.search-chat>i {
    margin-top: 1px;
    margin-left: 15px;
    color: rgb(103, 103, 103);
}

.user-list {
    list-style-type: none;
    overflow-x: hidden;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: calc(100% - 12rem);
}

.ts-user {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user-avatar {
    border-radius: 50%;
    height: 42px;
    width: 42px;
}

.inner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #343b3e;
    background-color: #000000;
    cursor: pointer;
    padding: 12px;
    position: relative;
}

.inner-content:hover {
    background-color: #151c20 !important;
}

.sidenav {
    height: 100%;
    width: 285px;
    position: fixed;
    z-index: 1;
    top: 3.2em;
    left: 0px;
    background-color: #000000;
    border-right: 1px solid #383838;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
    transition-property: width;
    transition-duration: .2s;
}

.chat-header {
    font-size: 30px;
    margin: 1rem;
    margin-bottom: 22px !important;
    display: flex;
    align-items: center;
    gap: 7px;
    justify-content: space-between;
}

.search-chat {
    border-top: 1px solid #313131;
    border-bottom: 1px solid #313131;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #000000;
}

.my-input {
    max-width: 83%;
    margin-left: 6px;
    height: 54px;
    border: none;
    background-color: #000000 !important;
    font-size: 18px;
    color: white;
}

.my-input:focus {
    outline: none !important;
}

.my-input-send {
    margin-left: 6px;
    height: 36px;
    border: none;
    background-color: #3e515c;
    font-size: 18px;
}

.my-input-send:focus {
    outline: none !important;
}

.last-msg {
    display: flex;
    margin-left: 8px;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.search-chat>i {
    margin-top: 1px;
    margin-left: 15px;
    color: rgb(103, 103, 103);
}

@media only screen and (max-width: 800px) {
    .sidenav {
        width: 112px;
    }
    .search-field>input {
        width: 50%;
    }
    .search-field {
        width: 112px;
    }
    .message>input {
        width: 80%;
    }
    .visible {
        display: none;
    }
    .ts-name {
        display: none;
    }
    #ts-chat {
        display: none !important;
    }
    .user-list {
        height: calc(100% - 11.5rem);
    }
}

.expanded {
    width: 100% !important;
    z-index: 30;
}

@media only screen and (max-width: 500px) {
    .sidenav {
        width: 0%;
    }
    .search-field>input {
        width: 85%;
    }
    .search-field {
        width: 100%;
    }
    .message>input {
        width: 85%;
    }
    .ts-name {
        display: unset;
    }
    #ts-chat {
        display: none !important;
    }
    .ass {
        display: flex !important;
    }
    .chat-header {
        justify-content: flex-start;
    }
}

.new {
    position: absolute;
    color: rgb(60, 60, 255);
    font-size: 30px;
    right: 20px;
    top: 25px;
}

.plus {
    font-size: 19px;
    margin-left: 4px;
}

.new-room {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #182025;
}

.new-room:hover {
    background-color: #151c20;
    cursor: pointer;
}


/* width */

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #1c2126;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #50585e;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #3e515c;
}