<div class="sidenav ">
    <div class="side-top ">
        <div class="chat-header ">
            <span>
                <b>Chats</b>
            </span>
        </div>
        <form class="search-chat search-field ">
            <i class="fas fa-search "></i>
            <input name="userName" [(ngModel)]="userName" (keyup)="searchUser() " class="my-input " placeholder="Search users ">
        </form>
    </div>
    <ul class="user-list ">
        <li class="ts-user " *ngFor="let user of getUsers;let i=index " (click)="changeRoom(i) ">
            <div class="inner-content" *ngIf="user.isVisible" [class.active]="user.active">
                <img src="assets/38422.jpg " class="user-avatar ">
                <div class="last-msg ">
                    <h1 style="margin-bottom:0px; font-size: 15px; ">{{user.details.name}}</h1>
                    <small class="visible ">
                        {{user.lastComment}}
                    </small>
                </div>
                <div class="status " [class.alive]="user.status ">
                    <i class="fas fa-circle "></i>
                </div>
            </div>
        </li>
    </ul>
</div>