.last-msg {
    display: flex;
    margin-left: 8px;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.hidden {
    display: none;
}

.status {
    color: rgb(162, 162, 162);
    font-size: 10px;
    position: absolute;
    right: 8px;
}

.active {
    background-color: #2A3840 !important;
}

.alive {
    color: rgb(0, 21, 255) !important;
}

.search-chat>i {
    margin-top: 1px;
    margin-left: 15px;
    color: rgb(103, 103, 103);
}

.side-top {
    border-bottom: 1px solid rgb(234, 234, 234);
}

.user-list {
    list-style-type: none;
    overflow: scroll;
    overflow-x: hidden;
    padding: 3px;
    margin-top: 0px;
    height: calc(100% - 11.3rem);
}

.ts-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px;
}

.user-avatar {
    border-radius: 50%;
    height: 45px;
    width: 45px;
}

.inner-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    border-radius: 7px;
    background-color: #1c2126;
    cursor: pointer;
    padding: 6px;
    position: relative;
}

.inner-content:hover {
    background-color: #314149;
}

.sidenav {
    height: 100%;
    width: 285px;
    position: fixed;
    z-index: 1;
    top: 3.2rem;
    left: 0px;
    background-color: #1c2126;
    border-right: 1.7px solid #314149;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
}

.chat-header {
    font-size: 30px;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-chat {
    margin: 1rem;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(234, 234, 234);
}

.my-input {
    max-width: 83%;
    margin-left: 6px;
    height: 36px;
    border: none;
    background-color: rgb(234, 234, 234);
    font-size: 18px;
}

.my-input:focus {
    outline: none !important;
}

.my-input-send {
    margin-left: 6px;
    height: 36px;
    border: none;
    background-color: rgb(234, 234, 234);
    font-size: 18px;
}

.my-input-send:focus {
    outline: none !important;
}

.last-msg {
    display: flex;
    margin-left: 8px;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.search-chat>i {
    margin-top: 1px;
    margin-left: 15px;
    color: rgb(103, 103, 103);
}

.side-top {
    border-bottom: 1px solid #314149;
}

@media only screen and (max-width: 800px) {
    .sidenav {
        width: 112px;
    }
    .search-field>input {
        width: 50%;
    }
    .search-field {
        width: 97px;
        margin-left: 8px;
    }
    .message>input {
        width: 80%;
    }
    .visible {
        display: none;
    }
    .ts-name {
        display: none;
    }
    #ts-chat {
        display: none !important;
    }
}

.new {
    position: absolute;
    color: rgb(60, 60, 255);
    font-size: 30px;
    right: 20px;
    top: 25px;
}

.plus {
    font-size: 19px;
    margin-left: 4px;
}

.new-room {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 234, 234);
}

.new-room:hover {
    background-color: rgb(221, 221, 221);
    cursor: pointer;
}