<div class="overlay" (click)="overlayCheck()" *ngIf="!overlay"></div>
<div class="top-navbar">
    <div class="options">
        <div class="messenger-wrapper">
            <i class="fas fa-comments"></i>
        </div>
    </div>
    <div class="options">
        <div class="home-wrapper" [class.active]="active" (click)='home()'>
            <i class="fas fa-home" [class.active]="active"></i>
        </div>
        <div class="home-wrapper" [class.active]="!active" (click)='users()'>
            <i class="fas fa-home" [class.active]="!active"></i>
        </div>
    </div>
    <div class="options">
        <div class="dropdown">
            <div class="bell-wrapper ts-notifications" (click)='notificationsCheck()' [class.active-option]="!notifications">
                <i class="fas fa-bell ts-profile"></i>
                <i class="fas fa-circle notification" *ngIf="newmsg"></i>
            </div>
            <div class="notification-dropdown" *ngIf="!notifications">
                <h1 style="font-size: 25px; margin-bottom:10px; margin-top:5px; ">Notifications</h1>
                <div class="divider div-profile"></div>
                <div class="inner-wrapper">
                    <div class="profile-item item-margin" *ngFor="let notification of notificationList; let i=index" (click)="browse(i)">
                        <img [src]="notification.url" class=" avatar " style="margin-top: 4px;">
                        <div class="details ">
                            <div class="message">{{notification.name}} send a message:</div>
                            <small>{{notification.text}}</small>
                            <div class="small-date">at: {{ notification.date}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-profile (ovCheck)="ovSwap($event)" (notCheck)="notSwap($event)" [prof]="profile">
        </app-profile>
    </div>
</div>